# this file holds all info for the odk to function
# information should be provided as key - value pairs, separated by a space
# lines with more than two elements will be ignored, as will be empty lines

# General parameters
####################
sleep_this_long 5
loop_this_long 00:00:01

# odk-api parameters
########################
odk_api_username your_odk_user
odk_api_password your_password
odk_api_url https://your_server.org/your_aggregate_server